
.title-form{
    color: white;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.9em;
    font-family: 'Gotham', sans-serif;
}
@font-face {
    font-family: 'Gotham', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/gotham');
}
.font-gotham{
    font-family: 'Gotham', sans-serif;
}  
.titles{
    font-weight: bolder;
    font-size: 30px;
}
.IconAbaot{
    width: 100px;
}
.Text-About{
    font-weight: bold;
    font-size: 20px;
}
.Text-Description{
    font-size: 13px;
    line-height: normal;
}
.response{
    font-size: 15px;
}
.question{
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}
.FotoPostGrado{
    width: 100%;
}
.bra-0{
    border-radius: 0;
}
.linea{
    color: black;
    border-top: 5px solid black;
    height: 1px;
    max-width: 150px;
    padding: 0;
    margin: 5px auto 0 auto;
}
.linea-white{
    color: white;
    border-top: 5px solid white;
    height: 1px;
    max-width: 150px;
    padding: 0;
    margin: 5px auto 0 auto;
}
.Text-Border{
    font-size: 5em;
    color: white; 
    font-weight: 900;
    @media #{$laptop-device}{
        font-size: 4em;
    }
    @media #{ $desktop-device}{
        font-size: 3.5em;
    }
    @media #{$tablet-device}{
        font-size: 3em;
    }
    @media #{$small-mobile}{
        font-size: 1.8em;
    }
}
.Text-PostGrado{
    color: white;
    position: absolute;
    bottom: 5px;
    line-height: normal;
    font-size: 15px;
}
.Postgrado{
    font-weight: 500;
    font-size: 15px;
}
.namePosgrado{
    font-weight: 800;
    font-size: 15px;
}
.contenProcess{
    width: 300px; 
    height: 300px;
    line-height: normal;
}
.Text-Description-title{
    font-size: 18px;
    font-weight: 500;
    color: #00273d;
}
.contenCard{
    width: 90%; 
    height: 350px;
    line-height: normal;
}
.bg{
    background-image: url('/BANNERpc.jpg');
    @media #{$tablet-device,$small-mobile}{
        background-image: url('/Bannercel.jpg');
        background-size: 100% 100%;
    }

}
.Text-Paso{
    font-weight: 600;
    font-size: 20px;
    text-align: start;
    font-family: 'Gotham', sans-serif;
}
.textDescripPaso{
    text-align: start;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
}