.title-form{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.titles{
    font-weight: bold;
    font-size: 30px;
}
.IconAbaot{
    border-radius: 50%;
    width: 150px;
    margin: 5%;
}
.Text-About{
    font-weight: bold;
    font-size: 20px;
}
.Text-Description{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.response{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.question{
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}
.FotoPostGrado{
    width: 100%;
}