@import './Intro.scss';
@import './TheHeader.scss'; 
.overlayPosgrados {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: linear-gradient(0deg,  rgba(45,45,45,1) 0%, rgba(255, 255, 255, 0) 50%);
}
.title-form{
    color: white;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.9em;
    font-family: 'Gotham', sans-serif;
}
.font-gotham{
    font-family: 'Gotham', sans-serif;
}  
.titles{
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.Title{
    font-family: 'Gotham', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #00273d;
}
.IconAbaot{
    width: 80px;
}
.Text-About{
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.Text-Description{
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    line-height: normal;
    text-align: justify;
}
.Text-Description1{
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    line-height: normal;
    text-align: left;
}
.response{
    font-family: 'Gotham', sans-serif;
    font-size: 15px;
}
.question{
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}
.FotoPostGrado{
    width: 100%;
    max-width: 320px;
    min-width: 300;
    max-height: 200px;
    min-height: 180px;
}
.bra-0{
    border-radius: 0;
}
.linea{
    color: black;
    border-top: 5px solid black;
    height: 1px;
    max-width: 150px;
    padding: 0;
    margin: 5px auto 0 auto;
}
.linea-white{
    color: white;
    border-top: 5px solid white;
    height: 1px;
    max-width: 150px;
    padding: 0;
    margin: 5px auto 0 auto;
}
.Text-Border{
    font-family: 'Gotham', sans-serif;
    font-size: 5em;
    color: white; 
    font-weight: 900;
    @media #{$laptop-device}{
        font-size: 4em;
    }
    @media #{ $desktop-device}{
        font-size: 3.5em;
    }
    @media #{$tablet-device}{
        font-size: 3em;
    }
    @media #{$small-mobile}{
        font-size: 1.8em;
    }
}
.Text-PostGrado{
    font-family: 'Gotham', sans-serif;
    color: white;
    position: absolute;
    bottom: 5px;
    line-height: normal;
    font-size: 15px;
}
.Postgrado{
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.namePosgrado{
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    font-size: 16px;
}
.contenProcess{
    font-family: 'Gotham', sans-serif;
    width: 300px; 
    height: 300px;
    line-height: normal;
}
.Text-Description-title{
    font-size: 18px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    color: #00273d;
}
.contenCard{
    width: 90%; 
    height: 350px;
    line-height: normal;
}

.Text-Paso{
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    text-align: start;
    font-family: 'Gotham', sans-serif;
}
.textDescripPaso{
    text-align: start;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Gotham', sans-serif;
}
.line-height{
    line-height: 1em;
}